sqlalchemy~=1.4.47
fastapi~=0.95.0
pydantic~=1.10.7
yfinance~=0.2.17
pandas~=1.4.4
matplotlib~=3.5.2
seaborn~=0.11.2
scikit-learn~=1.0.2
uvicorn==0.21.1
psycopg2==2.9.6
python-multipart==0.0.6
Jinja2==3.1.2
joblib~=1.1.0
xgboost~=1.7.5
pathlib~=1.0.1